service cloud.firestore {
  match /databases/{database}/documents {
    match /brews/{brew} {
      allow read: if resource.data.isPublic == true || request.auth.uid == resource.data.creatorId;
    	allow update, delete: if request.auth.uid == resource.data.creatorId;
      allow create: if request.auth.uid != null;
    }
    match /users/{userId} {
    	allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }
  }
}
